<% provide(:title, 'Comments for ' +@post.title) %>

<h1>Comments for <%=@post.title%></h1>



<div class = "hero-unit" >



	<div class = "row" >

		<div class = "new btn" >
			<%= link_to "Add New Comment", new_post_comment_path %>
		</div>	

		<%if @comments.any?%>
		<div class="clear"> Found  <%= pluralize(@commentsTotal.count, 'comment')%> </div>
	    <ol class = "posts">
	      <%= render @comments %>
	    </ol>

	  <%= will_paginate @comments %>
	  <%else%>
	  
	  <div class="clear">
	  	No comments yet! Why not post one yourself?
	  </div>

	 
	  <%end%>
	 

	</div>

	<div class = "newAfter btn" >
		<%= link_to "Add New Comment", new_post_comment_path %>
	</div>

</div>




  