<header class = "navbar navbar-fixed-top navbar-inverse">
		<div class = "navbar-inner">
			<div class ="container">
				<%= link_to "Blog App", '#', id: "logo" %>
				<nav>
					<ul class = "nav pull-left">
						<li>
							<%= link_to "Home", posts_home_path %> 
						</li>
						<li>
							<%= link_to "Gaming", '#' %>
						</li>
						<li>
							<%= link_to "Life", '#' %>
							<%# TODO replace these links with tagged links, will need to create a function that gets posts by tag%>
						</li>
					</ul>

				<div class="textWhite">
					<% if !signed_in? %>
					
						<%= link_to "Sign In/Up", signin_path,  class: "nav pull-right", id: "signout" %> 
					
					<% else %>
						<div class="nav pull-right" >
							<li id = "fat-menu" class="dropdown" >
								<a href ='#' class="dropdown-toggle" data-toggle="dropdown">
									Your Account <b class="caret"></b>
								</a>
								<ul class = "dropdown-menu">
									<li><%= link_to "Profile", current_user %></li>
									<li><%= link_to "Settings", edit_user_path(current_user) %></li>
									<li class="divider"></li>
									<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
								</ul>
							</li>
							
						</div>
					<% end %>
				</div>
				<%# TODO replace these links with login links %>
				</nav>
			</div>
		</div>
	</header>