<% if @tagsHash!=nil && @tagsHash.any? %>
	<script>
		function runOnLoad()
		{
			toggleDisplay("relatedTags", "tags");
			toggleDisplay("showRelatedTags", "showAllTags");
			toggleDisplay("relatedBlogCalendar","allBlogCalendar");
		}
	</script>
<% else %>
	<script>
		function runOnLoad()
		{
			toggleDisplay("tags", "relatedTags");
			toggleDisplay("showAllTags", "showRelatedTags");
			toggleDisplay("allBlogCalendar","relatedBlogCalendar");
		}
	</script>
<% end %>

<div class="tag-cloud">

				<h4 style = "padding-bottom: 10px"> 
						<div id = "showRelatedTags" style="display: none;">
							<div style="font-size: 75%; float: left;" >
								Showing Related Tags
							</div>

							<div style="font-size: 50%; float: right;" >
							 <%= link_to 'Show All Tags' , '', {onclick: 'toggleDisplay("tags", "relatedTags"); 
							 	toggleDisplay("showAllTags", "showRelatedTags"); 
							 	toggleDisplay("allBlogCalendar","relatedBlogCalendar");  return false;'}  %>
							</div>
						</div>

						<div id = "showAllTags" style="display: inline;">
							<div style="font-size: 50%; float: left;" >
							 <%= link_to 'Show Related Tags' , '', {onclick: 'toggleDisplay("relatedTags", "tags"); 
							 	toggleDisplay("showRelatedTags", "showAllTags"); 
							 	toggleDisplay("relatedBlogCalendar","allBlogCalendar"); return false;'} %>
							</div>


					
							<div style="font-size: 75%; float: right;" >
								Showing All Tags
							</div>
						</div>
					

				</h4>
			
		
	
	<span style = "float: left; text-align: left; margin: auto;">
		<div id = "tags" style="display: none;">
			<% tag_cloud(Post.tag_counts_not_including("blogQuote"), %w{xs, s, m, l, xl}) do |tag, css_class| %>
				<%= link_to tag.title, tag_path(tag.title), class: css_class %>
			<% end %>
		</div>

	
		<div id="relatedTags"  style="display: inline;">
			<% if @tagsHash!=nil && @tagsHash.any? %>
				<% tag_cloud(@tagsHash, %w{xs, s, m, l, xl}) do |tag, css_class| %>
					<%= link_to tag.title, tag_path(tag.title), class: css_class %>
				<% end %>
			<% end %>
		</div>
	</span>
	
</div>
<!-- for some reason this overrides the allposts interactivitity -->
<div id="relatedBlogCalendar">
	<% if @relatedPostsCalendar != nil && @relatedPostsCalendar.any? %>
		<div class="panel-group" id="accordion" role="tablist">  
			<% @relatedPostsCalendar.keys.each do |keyYear| %>
				<ol class = "nav nav-list">
					<li>
						<div class="panel panel-default">
							
								<div class="panel-heading" role="tab" id="headingOne">
							      	<h4 class="panel-title">
							        	<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=keyYear%>">
							         		<label class = "nav-header">
								         		<%= keyYear %> (<%= count_total_posts(@relatedPostsCalendar[keyYear]) %> posts)
								         	</label>
							        	</a>
							      	</h4>
							    </div>
							<div id ="collapse<%=keyYear%>" class = "panel-collapse collapse in" role="tabpanel">
								<% @relatedPostsCalendar[keyYear].keys.each do |keyMonth| %>
									<ol class = "nav nav-list tree" >
										<li>
											<div class="panel-heading" role="tab" id="headingOne">
										      	<h4 class="panel-title">
											        	<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=keyMonth%>">
											         		<div class = "panel-body">
											         			<label class = "nav-header">
												         			<%= keyMonth %> (<%= count_total_posts(@relatedPostsCalendar[keyYear][keyMonth])%> posts)
												         		</label>
											         		</div>
											        	</a>
										      	</h4>
										    </div>
										    <div id="collapse<%=keyMonth%>" class="panel-collapse collapse" role="tabpanel">
											    <ol class = "nav nav-list tree" >

												    <% @relatedPostsCalendar[keyYear][keyMonth].each do |post| %>
													      <div class="panel-body">
													      	<li>
														        <%= link_to post.title, post_path(post) %>
														    </li>
													      </div>
												    <% end %>
												</ol>
											</div>
										</li>
									</ol>
								<% end %>
							</div>
						</div>
					</li>
				</ol>
			<% end %>
		</div>
	<% end %>
</div>



<div id="allBlogCalendar">
	<% if @postsCalendar != nil && @postsCalendar.any? %>
		<div class="panel-group" id="accordion" role="tablist">  
			<% @postsCalendar.keys.each do |keyYear| %>
				<ol class = "nav nav-list">
					<li>
						<div class="panel panel-default">
							
								<div class="panel-heading" role="tab" id="headingOne">
							      	<h4 class="panel-title">
							        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseAll<%=keyYear%>">
							         		<label class = "nav-header">
								         		<%= keyYear %> (<%= count_total_posts(@postsCalendar[keyYear]) %> posts)
								         	</label>
							        	</a>
							      	</h4>
							    </div>
							<div id ="collapseAll<%=keyYear%>" class = "panel-collapse collapse in" role="tabpanel">
								<% @postsCalendar[keyYear].keys.each do |keyMonth| %>
									<ol class = "nav nav-list tree" >
										<li>
											<div class="panel-heading" role="tab" id="headingOne">
										      	<h4 class="panel-title">
											        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseAll<%=keyMonth%>">
											         		<div class = "panel-body">
											         			<label class = "nav-header">
												         			<%= keyMonth %> (<%= count_total_posts(@postsCalendar[keyYear][keyMonth])%> posts)
												         		</label>
											         		</div>
											        	</a>
										      	</h4>
										    </div>
										    <div id="collapseAll<%=keyMonth%>" class="panel-collapse collapse" role="tabpanel">
											    <ol class = "nav nav-list tree" >

												    <% @postsCalendar[keyYear][keyMonth].each do |post| %>
													      <div class="panel-body">
													      	<li>
														        <%= link_to post.title, post_path(post) %>
														    </li>
													      </div>
												    <% end %>
												</ol>
											</div>
										</li>
									</ol>
								<% end %>
							</div>
						</div>
					</li>
				</ol>
			<% end %>
		</div>
	<% end %>
</div>
		  
<!-- <div id="blogCalendar">
	<%# if @postsCalendar!=nil && @postsCalendar.any? %>
		<%# @postsCalendar.keys.each do |keyYear| %>
			<ol>
				year <%#= keyYear %>
			
		
				<%# @postsCalendar[keyYear].keys.each do |keyMonth| %>
					<ol>
						<span>
							month <%#= keyMonth %>
						</span>
						<%# @postsCalendar[keyYear][keyMonth].each do |post| %>
						<ol>
							<span>
								post <%#= post.title %>
							</span>
						</ol>
							
								<%# yearMap[keyMonth].each do |post| %>
									<%#= post.title %>
								<%# end %>
						<%# end %>

						<%# yearMap.keys.each do |keyMonth| %>
							<%#= keyMonth %>
								<%# yearMap[keyMonth].each do |post| %>
									<%#= post.title %>
								<%# end %>
						<%# end %>
					</ol>
				<%# end %>

			</ol>
		<%# end %>
	<%# end %>
</div> -->