<% if @tagsHash!=nil && @tagsHash.any? %>
	<script>
		function runOnLoad()
		{
			toggleDisplay("relatedTags", "tags");
			toggleDisplay("showRelatedTags", "showAllTags");
		}
	</script>
<% else %>
	<script>
		function runOnLoad()
		{
			toggleDisplay("tags", "relatedTags");
			toggleDisplay("showAllTags", "showRelatedTags");
		}
	</script>
<% end %>

<div class="tag-cloud">

				<h4 style = "padding-bottom: 10px"> 
						<div id = "showRelatedTags" style="display: none;">
							<div style="font-size: 75%; float: left;" >
								Showing Related Tags
							</div>

							<div style="font-size: 75%; float: right;" >
							 <%= link_to 'Show All Tags' , '', {onclick: 'toggleDisplay("tags", "relatedTags"); 
							 	toggleDisplay("showAllTags", "showRelatedTags");  return false;'}  %>
							</div>
						</div>

						<div id = "showAllTags" style="display: inline;">
							<div style="font-size: 75%; float: left;" >
							 <%= link_to 'Show Related Tags' , '', {onclick: 'toggleDisplay("relatedTags", "tags"); 
							 	toggleDisplay("showRelatedTags", "showAllTags"); return false;'} %>
							</div>


					
							<div style="font-size: 75%; float: right;" >
								Showing All Tags
							</div>
						</div>
					

				</h4>
			
		
	<p>
		<div id = "tags" style="display: none;">
			<% tag_cloud(Post.tag_counts, %w{s, m, l}) do |tag, css_class| %>
				<%= link_to tag.title, tag_path(tag.title), class: css_class %>
			<% end %>
		</div>

	
		<div id="relatedTags"  style="display: inline;">
			<% if @tagsHash!=nil && @tagsHash.any? %>
				<% tag_cloud(@tagsHash, %w{s, m, l}) do |tag, css_class| %>
					<%= link_to tag.title, tag_path(tag.title), class: css_class %>
				<% end %>
			<% end %>
		</div>
	</p>
</div>

<div id="blogCalendar">
	<% if @postsCalendar!=nil && @postsCalendar.any? %>
		<% @postsCalendar.keys.each do |keyYear| %>
			<ol class = "nav nav-list">
				<li>
					<label class = "tree-toggler nav-header">
					 	<%= keyYear %>
					</label>

					<% @postsCalendar[keyYear].keys.each do |keyMonth| %>
						<ol class = "nav nav-list tree">
							<li>
								<label class = "tree-toggler nav-header" >
									<%= keyMonth %>
								</label>
								
								<ol class = "nav nav-list tree">
									<% @postsCalendar[keyYear][keyMonth].each do |post| %>
										<li>
											 <%= link_to post.title, post_path(post) %>
										</li>
									<% end %>
								</ol>
								
							</li>
						</ol>
					<% end %>
				</li>
			</ol>
		<% end %>
	<% end %>
</div>

<!-- <div id="blogCalendar">
	<%# if @postsCalendar!=nil && @postsCalendar.any? %>
		<%# @postsCalendar.keys.each do |keyYear| %>
			<ol>
				year <%#= keyYear %>
			
		
				<%# @postsCalendar[keyYear].keys.each do |keyMonth| %>
					<ol>
						<span>
							month <%#= keyMonth %>
						</span>
						<%# @postsCalendar[keyYear][keyMonth].each do |post| %>
						<ol>
							<span>
								post <%#= post.title %>
							</span>
						</ol>
							
								<%# yearMap[keyMonth].each do |post| %>
									<%#= post.title %>
								<%# end %>
						<%# end %>

						<%# yearMap.keys.each do |keyMonth| %>
							<%#= keyMonth %>
								<%# yearMap[keyMonth].each do |post| %>
									<%#= post.title %>
								<%# end %>
						<%# end %>
					</ol>
				<%# end %>

			</ol>
		<%# end %>
	<%# end %>
</div> -->